.container {
    display: flex;
    justify-content: space-between;
}

.wrap-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.blue {
    background-color:blue
}

.circle{
    border-radius:50%;
    width:600px;
    height:600px;
}
