.blue {
			background-color:blue
}
.circle{
			border-radius:50%;
			width:300px;
			height:300px;
}
.blue {
    background-color:blue
}
.circle{
    border-radius:50%;
    width:500px;
    height:500px;
}